{# TEMPLATE Colores/form.html.twig #}
{# Muestra los campos editables de la entidad #}

{% extends 'Colores/index.html.twig' %}

{% set puntero = 0 %}

{% block listado %}

<div class='Listado'>
    <table width='100%'>
        <tr class='Titulos'>
            <td class='Item'>Color</td>
            <td class='Item'>Selector</td>
            <td>&nbsp;</td>
        </tr>

        <tbody class="Cuerpo">
            {% for key,objeto in values.listado.data %}
                {% set puntero = key %}
                {% if (key is even) %}
                    {% set classFila = 'Impar' %}
                {% else %}
                    {% set classFila = 'Par' %}
                {% endif %}

            <form name="linea{{puntero}}" action="" method="POST">
            <input name="controller" value="{{ values.controller}}" type="hidden" />
            <input name="action" id="action" value="edit" type="hidden" />
            <input name="Colores[IDColor]" value="{{ objeto.IDColor }}" type="hidden" />
            <input name="accion" id="accion{{puntero}}" value="" type="hidden" />
            <tr class='{{classFila}}'>
                <td align="center">{{ macro.input(none,'Etiqueta','text','Colores[Color]','Colores_Color' ~ puntero,objeto.Color,'15','CampoTextoCorto') }}</td>
                <td align="center">{{ macro.select(none,'Etiqueta','Colores[Selector]','Colores_Selector',none,objeto.Selector.IDTipo,objeto.Selector.fetchAll('Descripcion'),'Select')}}</td>
                <td align="center">
                    {% if objeto.IDColor > 0 %}
                    <input type="image" src="{{app.path}}/images/botonsave.png" onclick="getElementById('accion{{puntero}}').value='G';" alt="Guardar" title="Guardar Linea" />
                    <input type="image" src="{{app.path}}/images/papelera.gif" onclick="if (!confirm('Desea eliminar la línea?')) {return false;} else {getElementById('accion{{puntero}}').value='B';}" alt="Borrar" title="Borrar Linea" />
                        {% else %}
                    <input type="image" src="{{app.path}}/images/nuevo.png" onclick="getElementById('action').value='new';" alt="Nuevo" title="Crear Linea" />
                    {% endif %}
                </td>
            </tr>
            </form>
            {% endfor %}
        </tbody>
    </table>
</div>
{{ macro.foco('Colores_Color0') }}
{% endblock %}