{# Cuerpo del ticket #}

{% set bloqueado = (albaran.IDEstado.IDTipo > 0) %}
{% set lineas = values.lineas %}

<div class="ticketCuerpo FormManto">
    <input id="IDAlbaran" value="{{albaran.IDAlbaran}}" type="hidden">
    <input id="IDComercial" value="{{albaran.IDComercial.IDAgente}}" type="hidden">
    <input id='IDCliente' value='{{albaran.IDCliente.IDCliente}}' type='hidden'>    
    <div>
        <div class="TituloCodigo">Código</div>
        <div class="TituloLargo">Artículo</div>
        <div class="TituloImportesLinea">Udes</div>
    	<div class="TituloImportesLinea">Precio</div>
    	<div class="TituloDctoLinea">Dcto</div>
        <div class="TituloImportesLinea">Importe</div>
        {#<div class="ticketTituloCorto">Comercial</div>#}
        <div class="botoneraLinea">&nbsp;</div>
    </div>

    {# NUEVA LINEA #}
    {% if not bloqueado %}
        <div id="linea" style="clear:both;">
            <div class="ticketCodigo">
                <input id="IDArticulo" value="" type="hidden" />
                <input value="" id="Codigo" type="text" maxlength="25" onblur="buscaArticulo('',this.value,'');"/>           
            </div>
            <div class="ticketTituloLargo">
                <input id="Descripcion" value="" type="text" style="width:260px;" maxlength="255"
                    onkeyup="autoCompletar('Descripcion','IDArticulo','Descripcion','articulos','','');"
                    onblur="if ($('#IDArticulo').val()!=='') {crearLinea();}"/>
            </div>
            <div class="ticketImportesLinea"><input id="Unidades" value="1" type="text" size="4" onchange="recalculaLinea('');"></div>
            <div class="ticketImportesLinea"><input id="Precio" value="" type="text" size="6" onchange="recalculaLinea('');"/></div>
            <div class="ticketDctoLinea"><input id="Descuento" value="0.00" type="text" size="4" onchange="recalculaLinea('');"/></div>
            <div class="ticketImportesLinea"><input id="Importe" value="" type="text" size="6" readonly></div>
            {#<div class="ticketTituloCorto"><?php DesplegableAgentes('LIDAgente',$lineas['IDAgente'],'','select',"width:100px");?></div>#}
            <div class="botoneraLinea"><input type="image" src="{{app.path}}/images/nuevo.png" onclick="crearLinea();" onblur="crearLinea();" alt="Nuevo" title="Crear Linea" /></div>
        </div>
    {% endif %}
    {# FIN NUEVA LINEA#}
        
    <div id="lineas">    
    {% for linea in lineas %}
        {% set key = linea.IDLinea %}
	<div id="linea{{key}}" style="clear:both;">
            <input id="IDLinea{{key}}" value="{{linea.IDLinea}}" type="hidden">            
            <div class="ticketCodigo">
                <input id="IDArticulo{{key}}" value="{{linea.IDArticulo.IDArticulo}}" type="hidden" />
                <input value="{{linea.IDArticulo.Codigo}}" id="Codigo{{key}}" type="text" maxlength="25" onblur="buscaArticulo('',this.value,'{{key}}');"/>
    {#
                {% if linea.IDArticulo.IDArticulo %}
                    {{ macro.historicoVentas(app.path,linea.IDArticulo.IDArticulo,linea.IDAlbaran.IDCliente.IDCliente) }}
                {% endif %}
                {% if linea.IDPromocion.IDPromocion %}
                    {% include "_Emergente/dialogoPromocion.html.twig" with {'linea': linea} %}
                {% endif %}   
    #}         
            </div>
            <div class="ticketTituloLargo">
                <input id="Descripcion{{key}}" value="{{linea.Descripcion}}" type="text" style="width:260px;" maxlength="255"
                    onkeyup="autoCompletar('Descripcion{{key}}','IDArticulo{{key}}','Descripcion{{key}}','articulos','','');"
                />                       
            </div>
            <div class="ticketImportesLinea"><input id="Unidades{{key}}" value="{{linea.Unidades}}" type="text" size="4" onchange="recalculaLinea('{{key}}');"></div>
            <div class="ticketImportesLinea"><input id="Precio{{key}}" value="{{(linea.Precio*(1+linea.Iva/100))|number_format(2,'.','')}}" type="text" size="6" onchange="recalculaLinea('{{key}}');"/></div>
            <div class="ticketDctoLinea"><input id="Descuento{{key}}" value="{{linea.Descuento|number_format(2,'.','')}}" type="text" size="4" onchange="recalculaLinea('{{key}}');"/></div>
            <div class="ticketImportesLinea"><input id="Importe{{key}}" value="{{(linea.Importe*(1+linea.Iva/100))|number_format(2,'.','')}}" type="text" size="6" readonly></div>
            {#<div><?php DesplegableAgentes('LIDAgente',$lineas['IDAgente'],'','select',"width:100px");?></div>#}
            <div class="botoneraLinea">
                {% if (not bloqueado) %}               
                    <input type="image" src="{{app.path}}/images/botonsave.png" onclick="guardarLinea('{{key}}');" alt="Guardar" title="Guardar Linea" />
                    <input type="image" src="{{app.path}}/images/papelera.gif" onclick="if (!confirm('Desea eliminar la línea?')) {return false;} else {borrarLinea('{{key}}');}" alt="Borrar" title="Borrar Linea" />
                {% endif %}
                {{ macro.fichaProducto(app.path,linea.IDArticulo.IDArticulo) }}                    
            </div>
	</div>
    {% endfor %}
    </div>        

    <div id="mensajes"></div>
</div>

<script>
    $(function(){
        $('#Codigo').focus();       
    });

    function crearLinea() {
        
        if ($('#IDArticulo').val() === '') return;

        var datos ={
            'IDAlbaran':$('#IDAlbaran').val(),
            'IDComercial':$('#IDComercial').val(),
            'IDArticulo':$('#IDArticulo').val(),
            'Descripcion':$('#Descripcion').val(),
            'Unidades':$('#Unidades').val(),
            'Precio':$('#Precio').val(),
            'Descuento':$('#Descuento').val()
        };

        $.ajax({
            url: appPath + '/lib/ticket.php',
            dataType: 'html',
            type: 'post',
            data: {'parametros':{'accion':'crear','datos': datos}},
            success: function(resultado) {
                var datos = $.parseJSON(resultado);
                if (datos.status === 'error') { 
                    $('#mensajes').html(resultado);

                } else {
                    // Limpiar la linea nueva
                    $('#IDArticulo').val('');
                    $('#Codigo').val('');
                    $('#Descripcion').val('');
                    $('#Unidades').val('1');
                    $('#Precio').val('');
                    $('#Descuento').val('0.00');
                    $('#Importe').val('');
                    $('#Codigo').focus();
                    
                    // Añadir la linea creada

                    // Calcular el precio e importe iva incluido y redondear a dos decimales
                    var precio = datos.linea.Precio * (1+datos.linea.Iva/100);
                    var importe = datos.linea.Importe * (1+datos.linea.Iva/100);
                    
                    precio = Math.round(precio*100)/100;
                    importe = Math.round(importe*100)/100;
                    
                    var html = 
                    "<div id='linea"+datos.linea.IDLinea+"' style='clear:both;'>"+
                        "<input id='IDLinea"+datos.linea.IDLinea+"' value='"+datos.linea.IDLinea+"' type='hidden'>"+           
                        "<div class='ticketCodigo'>"+
                            "<input id='IDArticulo"+datos.linea.IDLinea+"' value='"+datos.linea.IDLinea+"' type='hidden' />"+
                            "<input value='"+datos.linea.Codigo+"' id='Codigo"+datos.linea.IDLinea+"' type='text' maxlength='25' onblur=\"buscaArticulo('',this.value,'"+datos.linea.IDLinea+"');\"/>"+      
                        "</div>"+
                        "<div class='ticketTituloLargo'>"+
                            "<input id=\"Descripcion"+datos.linea.IDLinea+"\" value=\""+datos.linea.Descripcion+"\" type='text' style='width:260px;' maxlength='255'"+
                            "onkeyup=\"autoCompletar('Descripcion"+datos.linea.IDLinea+"','IDArticulo"+datos.linea.IDLinea+"','Descripcion"+datos.linea.IDLinea+"','articulos','','');\"/>" +  
                        "</div>"+
                        "<div class='ticketImportesLinea'><input id='Unidades"+datos.linea.IDLinea+"' value='"+datos.linea.Unidades+"' type='text' size='4' style='text-align: right;' onchange='recalculaLinea(\""+datos.linea.IDLinea+"\");'></div>"+
                        "<div class='ticketImportesLinea'><input id='Precio"+datos.linea.IDLinea+"' value='"+precio+"' type='text' size='6' style='text-align: right;' onchange='recalculaLinea(\""+datos.linea.IDLinea+"\");'></div>"+
                        "<div class='ticketDctoLinea'><input id='Descuento"+datos.linea.IDLinea+"' value='"+datos.linea.Descuento+"' type='text' size='4' style='text-align: right;' onchange='recalculaLinea(\""+datos.linea.IDLinea+"\");'></div>"+
                        "<div class='ticketImportesLinea'><input id='Importe"+datos.linea.IDLinea+"' value='"+importe+"' type='text' size='6' style='text-align: right;' readonly></div>"+
                        "<div class='botoneraLinea'>"+                
                            "<input type='image' src='"+appPath+"/images/botonsave.png' onclick=\"guardarLinea('"+datos.linea.IDLinea+"');\" alt='Guardar' title='Guardar Linea' /> "+
                            "<input type='image' src='"+appPath+"/images/papelera.gif' onclick=\"if (!confirm('Desea eliminar la línea?')) {return false;} else {borrarLinea('"+datos.linea.IDLinea+"');}\" alt='Borrar' title='Borrar línea'/>"+
                        "</div>"+
                    "</div>";

                    $('#lineas').append(html);
                    $('#totalLiteral').html(datos.albaran.Total);
                    $('#total').html(datos.albaran.Total);
                }
            }
        });  
    }
    
    function guardarLinea(idLinea) {

        var datos ={
            'IDAlbaran':$('#IDAlbaran').val(),
            'IDLinea':$('#IDLinea'+idLinea).val(),
            'IDComercial':$('#IDComercial').val(),
            'IDArticulo':$('#IDArticulo'+idLinea).val(),
            'Descripcion':$('#Descripcion'+idLinea).val(),
            'Unidades':$('#Unidades'+idLinea).val(),
            'Precio':$('#Precio'+idLinea).val(),
            'Descuento':$('#Descuento'+idLinea).val()
        };

        $.ajax({
            url: appPath + '/lib/ticket.php',
            dataType: 'html',
            type: 'post',
            data: {'parametros':{'accion':'guardar','datos': datos}
            },
            success: function(resultado) {
                var datos = $.parseJSON(resultado);
                if (datos.status === 'error') 
                    $('#mensajes').html(resultado);
                else {
                    // Actualizar la linea creada
                    
                    // Calcular el precio e importe iva incluido y redondear
                    // a dos decimales
                    var precio = datos.linea.Precio * (1+datos.linea.Iva/100);
                    var importe = datos.linea.Importe * (1+datos.linea.Iva/100);
                    var keyLinea = datos.linea.IDLinea;
                    
                    precio = Math.round(precio*100)/100;
                    importe = Math.round(importe*100)/100;
                    
                    $('#Codigo'+keyLinea).val(datos.linea.Codigo);
                    $('#IDArticulo'+keyLinea).val(datos.linea.IDArticulo);
                    $('#Descripcion'+keyLinea).val(datos.linea.Descripcion);
                    $('#Precio'+keyLinea).val(precio);
                    $('#Descuento'+keyLinea).val(datos.linea.Descuento);
                    $('#Importe'+keyLinea).val(importe);
                    
                    $('#totalLiteral').html(datos.albaran.Total);
                    $('#total').html(datos.albaran.Total);
                    $('#Codigo').focus();                     
                }
            }
        });        
    }
    
    function borrarLinea(idLinea) {

        var datos ={
            'IDAlbaran':$('#IDAlbaran').val(),
            'IDLinea':$('#IDLinea'+idLinea).val()
        };

        $.ajax({
            url: appPath + '/lib/ticket.php',
            dataType: 'html',
            type: 'post',
            data: {'parametros':{'accion':'borrar','datos': datos}
            },
            success: function(resultado) {
                var datos = $.parseJSON(resultado);
                if (datos.status === 'error') 
                    $('#mensajes').html(resultado);
                else {
                    $('#linea'+idLinea).remove();
                    $('#total').html(datos.albaran.Total);
                    $('#totalLiteral').html(datos.albaran.Total);
                    $('#Codigo').focus();                    
                }
            }
        });
                
    }
    
    /**
     * Busca un articulo en base a la pareja columna-valor
     * Si lo encuentra y estoy en la primera línea, lo inserta
     * 
     * @param string columna
     * @param string valor
     * @param string keyLinea
     * @returns void  
     */
    function buscaArticulo(columna,valor,keyLinea) {
    
        if (valor !== '') {
            var url = appPath +"/lib/getArticulo.php?formato=JSON&columna="+columna+"&valor="+valor;           
            $.getJSON( url, function( data ) {
                if(data['IDArticulo'] > 0) {
                    $('#IDArticulo'+keyLinea).val(data['IDArticulo']);
                    $('#Codigo'+keyLinea).val(data['Codigo']);
                    $('#Descripcion'+keyLinea).val(data['Descripcion']);
                    $('#Precio'+keyLinea).val(data['PvpConImpuestos']);
                    recalculaLinea(keyLinea);
                    if (keyLinea === '') crearLinea();
                } else {
                    alert("No existe ese artículo o está descatalogado");
                    $('#Codigo'+keyLinea).focus();
                }
            });        
        }
    }
    
    /*
    * Recalcula la línea cada vez que se cambian las unidades
    * el precio unitario o el descuento
    */
    function recalculaLinea(keyLinea) {
        var unidades,precio,descuento,importe;
        
        unidades = $('#Unidades'+keyLinea).val();
        precio = $('#Precio'+keyLinea).val();
        descuento = $('#Descuento'+keyLinea).val();
        importe = unidades * precio * (1-descuento/100);
        importe = Math.round(importe*100)/100;        
        $('#Importe'+keyLinea).val(importe);
    }
</script>