{# Index/index.html.twig #}
{% extends layout %}

{% block title %}
    {{ parent() }} - Inicio
{% endblock %}

{% block content %}
    <div class="favoritos">
        {% for favorito in values.favoritos %}
        <a href="{{app.path}}/{{favorito.Url}}" class="favorito">{{favorito.Titulo}}</a>
        {% endfor %}
        <div style="clear: both;"></div>
    </div>
    {% if  tpv.IDTpv %}
        <form name="setTpv" id="setTpv" method="POST">
            <input name="controller" value="{{values.controller}}" type="hidden" />
            <input name="action" id="action" type="hidden" />
            <input name="IDTpv" id="IDTpv" value="{{tpv.IDTpv}}" type="hidden" />
            <div id="dialogConfirmar" title="Identifique TPV">
                {{ macro.select('Indique Tpv','Etiqueta','dialogIDTpv','dialogIDTpv',none,none,values.sucursal.getTpvs,'Select') }}
                <input type="submit" value="Aceptar" class="Comando" style="margin-top: 20px;" alt="Aceptar" title="Aceptar"
                    onclick="if ( $('#dialogIDTpv').val() != '' ) {
                               $('#action').val('setTpv');
                               $('#IDTpv').val( $('#dialogIDTpv').val() );
                               $('#setTpv').submit();
                             } else return false;"
                />
            </div>
        </form>
    {% endif %}

<script language='JavaScript' type='text/javascript'>
    $(function() {
        $( "#dialogConfirmar" ).dialog({
            autoOpen: true,
            modal: true,
            width: 230,
            height: 150,
            position: ['center'],
            closeOnEscape: false,
            resizable: false,
            draggable:false,
            show: "slide",
            beforeclose :function(event,ui){ if ( $('#dialogIDTpv').val() != '' ) return false;}
            });
    });
</script>
{% endblock %}