{# TEMPLATE TablaPortes/form.html.twig #}
{# Muestra los campos editables de la entidad        #}


{% extends 'TablaPortes/index.html.twig' %}

{% block listado %}
<div class='Listado'>

    <table width='100%'>
        <tr class='Titulos'>
            <td class="Item">Zona / Kilos</td>
            {% for kilos in values.tramosKilos %}
            <td class='Item'>{{kilos.Value}}</td>
            {% endfor %}
        </tr>

        <tbody class="Cuerpo">
            {% for zona in values.zonasTransporte %}

            <form name="linea{{key}}" action="" method="POST">
                <input name="controller" value="TablaPortes" type="hidden" />
                <input name="action" id="action" value="edit" type="hidden" />
                <input name="ContratosHistorico[IDContrato]" value="{{ values.linkBy.value }}" type="hidden" />
                <input name="ContratosHistorico[Id]" value="{{ objeto.Id }}" type="hidden" />
                <input name="accion" id="accion" value="" type="hidden" />
                <tr class="ItemListado">
                    <td>{{zona.Value}}</td>
                    {% for kilos in values.tramosKilos %}
                    <td align="right">
                        <input name="{{zona.Id}}_{{kilos.Id}}" value="{{values.tablaPortes[zona.Id]['Tarifa'][kilos.Value]}}" type="text" style="text-align: right;width: 31px;"/>
                    </td>
                    {% endfor %}
                </tr>
            </form>

            {% endfor %}
        </tbody>
    </table>
</div>

{{ macro.foco('ContratosHistorico_IDOperacion0') }}

{% endblock %}
