{#
    ACORDEON CON LOS ELEMENTOS A ORDENAR. PUEDEN SER:

    Contenidos, álbumes, vídeos, banners, sliders, etc

#}
{% extends '_global/layoutPopup.html.twig' %}

{% block content %}
    
<form name="form{{values.controller}}" id="form{{values.controller}}" action="" method="POST" enctype="multipart/form-data">
    <input name="controller" value="{{values.controller}}" type="hidden" />
    <input name="action" id="action" value="" type="hidden" />
    <input name="entidad" id="entidad" value="{{values.entidad}}" type="hidden" />
    <input name="filtro" id="filtro" value="{{values.filtro}}" type="hidden" />
    <input name="columnaMostrar" id="columnaMostrar" value="{{values.columnaMostrar}}" type="hidden" />

    {% if values.criteriosOrden|length > 1%}
    <div style="margin-bottom: 10px; text-align: center;">
        Ordenar por:
        <select name="criterioOrden" id="criterioOrden">
            {% for key,criterio in values.criteriosOrden %}
                <option value="{{key}}" {% if key == values.criterioOrden %} SELECTED{% endif %}>{{criterio.caption}}</option>
            {% endfor %}
        </select>
        <img src="{{app.path}}/images/lupa.png" onclick="$('#action').val('Index'); submitForm('form{{values.controller}}');"/>
    </div>
    {% else %}
        <input name="criterioOrden" value="{{values.criterioOrden}}" type="hidden"/>
    {% endif%}
    
    {% if values.datos is not empty %}
        <p style="padding: 5px;">Pincha y desplaza los elementos a la ubicación deseada</p>

        <div id="acordeonOrden">
            {% for valor in values.datos %}
            <div style="">
                <h3 style="cursor: move;"><span style="margin-left: 20px;">{{valor.Value}}</span></h3>
                <div>
                    <input name="acordeon[{{valor.Id}}]" value="{{valor.Id}}" type="hidden"/>
                </div>
            </div>
            {% endfor %}
        </div>

        <div style="margin-top: 10px; text-align: center;">
            <div id="botonSubmit"></div>
            <input value="Guardar nuevo orden" type="submit" 
                   onclick="loading('botonSubmit');  
                       $('#action').val('Reordenar');                      
                       submitForm('form{{values.controller}}'); "
                       />    
        </div>
    {% else %}
        <p>No hay elementos para ordenar. Tenga en cuenta que aquí solo se muestran los items que tienen la marca de 'Publicar'</p>
    {% endif %}
        
</form>
{% endblock %}
