{# TEMPLATE AlbaranesCab/form.html.twig       #}
{# Muestra los campos editables de la entidad #}

{% if not datos.IDAlbaran %}
    {% set sucursalDefecto = suc %}
{% else %}
    {% set sucursalDefecto = datos.IDSucursal.IDSucursal %}
{% endif %}

<div class="CajaIzquierda" style="height: 220px;">

{% if datos.IDEstado.IDTipo == '0' %}
    {% if datos.IDAlbaran %}
    {{ macro.etiqueta('Sucursal','Etiqueta',datos.IDSucursal.Nombre) }}
    {% else %}
    <div class="Item" id="div_AlbaranesCab_IDSucursal">
        <div class="Etiqueta">Sucursal</div>
        <select name="AlbaranesCab[IDSucursal]" id="AlbaranesCab_IDSucursal" size="1" class="Select"
                onchange="DesplegableAjax('div_AlbaranesCab_IDContador','AlbaranesCab_IDContador','AlbaranesCab[IDContador]','contadorAlbaranes',this.value);
                          DesplegableAjax('div_AlbaranesCab_IDComercial','AlbaranesCab_IDComercial','AlbaranesCab[IDComercial]','comercialAlbaranes',this.value);
                          $('#AlbaranesCab_IDCliente').val('');
                          $('#RazonSocial').val('');
                         "
        >
        {% for value in datos.IDAgente.getSucursales(emp.IDEmpresa) %}
            <option value="{{ value.Id }}" {% if (value.Id==sucursalDefecto) %} SELECTED {%endif%}>{{value.Value}}</option>
        {% endfor %}
        </select>
    </div>
    {% endif %}

    {% if not datos.IDAlbaran %}
    {{ macro.select('Serie','Etiqueta','AlbaranesCab[IDContador]','AlbaranesCab_IDContador',none,datos.IDContador.IDContador,datos.IDContador.fetchAll(sucursalDefecto,1),'Select') }}
    {% endif %}

    {{ macro.fecha('Fecha','Etiqueta','AlbaranesCab[Fecha]','AlbaranesCab_Fecha',datos.Fecha,'10','CampoFecha') }}
    {{ macro.fecha('Fecha Entrega','Etiqueta','AlbaranesCab[FechaEntrega]','AlbaranesCab_FechaEntrega',datos.FechaEntrega,'10','CampoFecha','disabled') }}
    {{ macro.select('Almacén','Etiqueta','AlbaranesCab[IDAlmacen]','AlbaranesCab_IDAlmacen',none,datos.IDAlmacen.IDAlmacen,datos.IDAgente.getAlmacenes(emp.IDEmpresa),'Select') }}

    <div class="Item" id="div_AlbaranesCab_RazonSocial">
        <div class="Etiqueta">Cliente</div>
        <input name="AlbaranesCab[IDCliente]" id="AlbaranesCab_IDCliente" value="{{datos.IDCliente.IDCliente}}" type="hidden"/>
        <input value="{{datos.IDCliente.RazonSocial}}" id="RazonSocial" type="text" maxlength="50" class="CampoTextoLargo"
               onkeyup="autoCompletar('RazonSocial','AlbaranesCab_IDCliente','RazonSocial','clientes',$('#AlbaranesCab_IDSucursal').val(),['subbloque_ajax_cliente_albaran','','','clientealbaran']);"/>

        {% if datos.IDCliente.IDCliente %}
        {{ macro.historicoVentas(app.path,0,datos.IDCliente.IDCliente) }}
        {{ macro.promosVigentesCliente(app.path, datos.IDCliente, datos.getDate) }}
        {% endif %}
    </div>

    <div id="subbloque_ajax_cliente_albaran">
        {{ macro.select('Comercial','Etiqueta','AlbaranesCab[IDComercial]','AlbaranesCab_IDComercial',none,datos.IDComercial.IDAgente,datos.IDComercial.getComerciales('',sucursalDefecto),'Select') }}
        {{ macro.select('Dirección de Entrega','Etiqueta','AlbaranesCab[IDDirec]','AlbaranesCab_IDDirec',none,datos.IDDirec.IDDirec,datos.IDDirec.fetchAll(datos.IDCliente.IDCliente),'Select350') }}
        {{ macro.select('Forma de Pago','Etiqueta','AlbaranesCab[IDFP]','AlbaranesCab_IDFP',none,datos.IDFP.IDFP,datos.IDFP.fetchAll('Descripcion'),'Select') }}
    </div>
    {{ macro.etiqueta('Avisos','Etiqueta',datos.IDCliente.Avisos) }}
    {{ macro.foco('RazonSocial') }}
{% else %}
    {{ macro.etiqueta('Sucursal','Etiqueta',datos.IDSucursal.Nombre) }}
    {{ macro.etiqueta('Almacén','Etiqueta',datos.IDAlmacen.Nombre) }}
    {{ macro.etiqueta('Fecha','Etiqueta',datos.Fecha ) }}
    {{ macro.etiqueta('Fecha Entrega','Etiqueta',datos.FechaEntrega ) }}
    {{ macro.etiqueta('Cliente','Etiqueta',datos.IDCliente.RazonSocial) }}
    {{ macro.etiqueta('Comercial','Etiqueta',datos.IDComercial.Nombre) }}
    {{ macro.etiqueta('Dirección de Entrega','Etiqueta',datos.IDDirec.Direccion ~ " - " ~ datos.IDDirec.Poblacion ~ " (" ~ datos.IDDirec.IDProvincia.Provincia ~ ")") }}
    {{ macro.etiqueta('Forma de Pago','Etiqueta',datos.IDFP.Descripcion ) }}
{% endif %}
</div>

{% if datos.IDAlbaran %}
<div class="CajaTotales" style="height: 220px;">
    <div id="tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
        <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
            <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#tabs-1">Importes</a></li>
            <li class="ui-state-default ui-corner-top"><a href="#tabs-2">Env&iacute;o</a></li>
            <li class="ui-state-default ui-corner-top"><a href="#tabs-3">{% if datos.Observaciones %}<b>{% endif %}Observaciones{% if datos.Observaciones %}</b>{% endif %}</a></li>
            <li class="ui-state-default ui-corner-top"><a href="#tabs-4">{% if datos.NotasInternas %}<b>{% endif %}Notas{% if datos.NotasInternas %}</b>{% endif %}</a></li>
            <li class="ui-state-default ui-corner-top"><a href="#tabs-5">Docs</a></li>
        </ul>
        <div id="tabs-1" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
            {% include values.controller ~ "/totales.html.twig" with {'datos': datos}%}
        </div>
        <div id="tabs-2" class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide">
            {% if datos.IDEstado.IDTipo < '2' %}
                {{ macro.select('Agencia de Tpte.','Etiqueta','AlbaranesCab[IDAgencia]','AlbaranesCab_IDAgencia',none,datos.IDAgencia.IDAgencia,datos.IDAgencia.fetchAll('Agencia'),'Select210') }}
                {{ macro.select('Ruta de Reparto','Etiqueta','AlbaranesCab[IDRutaReparto]','AlbaranesCab_IDRutaReparto',none,datos.IDRutaReparto.IDRuta,datos.IDRutaReparto.fetchAll(datos.IDSucursal.IDSucursal),'Select210') }}
                {{ macro.select('Día de Reparto','Etiqueta','AlbaranesCab[DiaReparto]','AlbaranesCab_DiaReparto',none,datos.DiaReparto.IDTipo,datos.DiaReparto.fetchAll,'Select') }}
                {{ macro.select('Repartidor','Etiqueta','AlbaranesCab[IDRepartidor]','AlbaranesCab_IDRepartidor',none,datos.IDRepartidor.IDAgente,datos.IDRepartidor.getRepartidores,'Select210') }}
                {{ macro.input('Peso','Etiqueta','text','AlbaranesCab[Peso]','AlbaranesCab_Peso',datos.Peso,'10','CampoUnidades') }}
                {{ macro.input('Volumen','Etiqueta','text','AlbaranesCab[Volumen]','AlbaranesCab_Volumen',datos.Volumen,'10','CampoUnidades') }}
                {{ macro.input('Bultos','Etiqueta','text','AlbaranesCab[Bultos]','AlbaranesCab_Bultos',datos.Bultos,'4','CampoUnidades') }}
                {{ macro.input('Expedición','Etiqueta','text','AlbaranesCab[Expedicion]','AlbaranesCab_Expedicion',datos.Expedicion,'50','CampoTextoCorto') }}
            {% else %}
                {{ macro.etiqueta('Agencia Tpte.','Etiqueta',datos.IDAgencia.Agencia ) }}
                {{ macro.etiqueta('Ruta Reparto','Etiqueta',datos.IDRutaReparto.Descripcion ) }}
                {{ macro.etiqueta('Dia Reparto','Etiqueta',datos.DiaReparto ) }}
                {{ macro.etiqueta('Repartidor','Etiqueta',datos.IDRepartidor.Nombre ) }}
                {{ macro.etiqueta('Peso','Etiqueta',datos.Peso ) }}
                {{ macro.etiqueta('Volumen','Etiqueta',datos.Peso ) }}
                {{ macro.etiqueta('Bultos','Etiqueta',datos.Volumen ) }}
                {{ macro.etiqueta('Expedición','Etiqueta',datos.Expedicion ) }}
                <div style="clear: both;"></div>
            {% endif %}
        </div>
        <div id="tabs-3" class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide">
            {{ macro.textarea('Observaciones','Etiqueta','AlbaranesCab[Observaciones]','AlbaranesCab_Observaciones',datos.Observaciones,none,none,'TextArea')}}
            {% set beneficio  = datos.getBeneficio() %}
            <div style="text-align: center;">
                Referencia [{{ beneficio.Venta}}] [{{ beneficio.Costo}}] [{{ beneficio.Beneficio }}]
            </div>
        </div>
        <div id="tabs-4" class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide">
            {{ macro.textarea('Notas Internas','Etiqueta','AlbaranesCab[NotasInternas]','AlbaranesCab_NotasInternas',datos.NotasInternas,none,none,'TextArea')}}
        </div>
        <div id="tabs-5" class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide">
            {{ macro.documentos(values.controller,datos.getPrimaryKeyValue)}}
        </div>
    </div>
</div>


<iframe width="100%" height="327" scrolling="yes" style="margin-top:5px; border:0;"
        src="{{app.path}}/AlbaranesLineas/list/{{datos.IDAlbaran}}">
</iframe>
{% endif %}
