{#
  Module: CpanTextos
  Document : modules\CpanTextos\list.html.twig

  author: Sergio Pérez <sergio.perez@albatronic.com>
  copyright: INFORMATICA ALBATRONIC SL
  date 01.02.2014 21:09:46
#}

{% extends values.controller  ~ '/index.html.twig' %}

{% block listado %}

<div class='Listado'>
<table class="Listado">
    <tr class='Titulos'>
        <td class='Item'>Página</td>
        <td class='Item'>Clave</td>
        <td class='Item'>Texto</td>               
        <td>&nbsp;</td>
    </tr>    

    <tbody class="Cuerpo">
    {% for key,items in values.textos %}         

        <form name="linea{{key}}" id="linea{{key}}" action="" method="POST">
            <input name="controller" value="{{values.controller}}" type="hidden" />
            <input name="action" id="action" value="edit" type="hidden" />
            <input name="accion" id="accion{{key}}" value="" type="hidden" />
            {% set claveAnterior = '' %}
            {% for keyItem,item in items %}
            <tr>
            <input name="{{values.controller}}[{{keyItem}}][Id]" value="{{item.Id}}" type="hidden" />
            <input name="{{values.controller}}[{{keyItem}}][Lang]" value="{{item.Lang}}" type="hidden" />
            <td>
                {% if keyItem == 0 %}
                <select name="{{values.controller}}[{{keyItem}}][Controller]" style="width: 250px;"/>
                    {% for controller in values.controllers %}
                        <option value="{{controller.Id}}" {%if controller.Id==item.Controller%} SELECTED{%endif%}>{{controller.Value}}</option>
                    {% endfor %}
                </select>
                {% else %}
                <!--<input name="{{values.controller}}[{{keyItem}}][Controller]" value="{{item.Controller}}" type="hidden"/>-->
                {% endif %}
            </td>
            <td>               
                <input name="{{values.controller}}[{{keyItem}}][Clave]" value="{{item.Clave}}" type="{%if claveAnterior!=item.Clave%}text{%else%}hidden{%endif%}" style="width: 265px;"/>
            </td>
            <td>              
                <textarea style="background: url({{app.path}}/lang/{{item.Lang|lower}}.gif) no-repeat right bottom;" name="{{values.controller}}[{{keyItem}}][Observations]" cols="45" rows="2"/>{{item.Observations}}</textarea>
            </td>           
            <td align="center">
                {% if keyItem == 0 %}
                    {% if item.Id > 0 %}
                    <input type="image" src="{{app.path}}/images/papelera.gif" onclick="if (!confirm('Desea eliminar el texto?')) {return false;} else {$('#accion{{key}}').val('B');}" alt="Borrar" title="Borrar el texto" />               
                    {% endif %} 
                    <input type="image" src="{{app.path}}/images/botonsave.png" onclick="$('#accion{{key}}').val('G');" alt="Guardar" title="Guardar Texto" />       
                {% endif %}
            </td>
            </tr>
            {% set claveAnterior = item.Clave %}
            {% endfor %}         
        </form>
        <tr style="height: 8px;"></tr>
    {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}