{# TEMPLATE RecibosProveedores/form.html.twig #}
{# Muestra los campos editables de la entidad        #}

{% set digitosCta = emp.DigitosCuentaContable %}

<div class="Izquierda" style="width:51%;">
{{ macro.select('Estado','Etiqueta','RecibosProveedores[IDEstado]','RecibosProveedores_IDEstado',none,datos.IDEstado.IDTipo,datos.IDEstado.fetchAll,'Select') }}
{{ macro.input('Recibo','Etiqueta','text','RecibosProveedores[Recibo]','RecibosProveedores_Recibo',datos.Recibo,'4','CampoUnidades') }}
{{ macro.etiqueta('Sucursal','Etiqueta',datos.IDSucursal.Nombre) }}
{{ macro.etiqueta('Número Factura','Etiqueta',datos.IDFactura.NumeroFactura) }}
{{ macro.etiqueta('Proveedor','Etiqueta',datos.IDProveedor.RazonSocial) }}
{{ macro.etiqueta('Fecha','Etiqueta',datos.Fecha) }}
{{ macro.fecha('Vencimiento','Etiqueta','RecibosProveedores[Vencimiento]','RecibosProveedores_Vencimiento',datos.Vencimiento,'10','CampoFecha') }}
{{ macro.input('Importe','Etiqueta','text','RecibosProveedores[Importe]','RecibosProveedores_Importe',datos.Importe,'10','CampoImporte') }}
{{ macro.input('Cta. de Cargo','Etiqueta','text','RecibosProveedores[CBanco]','RecibosProveedores_CBanco',datos.CBanco,'20','CampoTextoLargo') }}
{{ macro.input('Concepto','Etiqueta','text','RecibosProveedores[Concepto]','RecibosProveedores_Concepto',datos.Concepto,'255','CampoTextoLargo') }}
{{ macro.input('Remesa','Etiqueta','text','RecibosProveedores[IDRemesa]','RecibosProveedores_IDRemesa',datos.IDRemesa,'14','CampoTextoCorto') }}
{{ macro.select('Remesar','Etiqueta','RecibosProveedores[Remesar]','RecibosProveedores_Remesar',none,datos.Remesar.IDTipo,datos.Remesar.fetchAll,'Select') }}
{{ macro.input('Cuenta Contable','Etiqueta','text','RecibosProveedores[CContable]','RecibosProveedores_CContable',datos.CContable,digitosCta,'CampoTextoCorto') }}
{{ macro.input('Asiento Contable','Etiqueta','text','RecibosProveedores[Asiento]','RecibosProveedores_Asiento',datos.Asiento,'6','CampoUnidades') }}
{{ macro.foco('RecibosProveedores_IDEstado') }}
</div>

{% if datos.IDRecibo %}
<div class="Derecha" style="width:49%;">
    <div id="tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
        <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
            <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#tabs-1">Documentos</a></li>
        </ul>
        <div id="tabs-1" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
            {{ macro.documentos(values.controller,datos.getPrimaryKeyValue)}}
        </div>
    </div>
</div>
{% endif %}