{# Template list.html.twig for Existencias #}
{# -------------------------------------------------------#}
{% extends 'Existencias/index.html.twig' %}

{% block listado %}
<div class='Listado'>

    {% include '_global/paginacion.html.twig' with {'filter':values.listado.filter,'controller':'Existencias','position':'izq'}%}

    <table width="100%">
        <tr class='Titulos'>
            <td class='Item'>Articulo</td>
            <td class='Item'>Lote</td>
            <td class='Item'>Ubicación</td>
            <td class='Item'>
                <table width='100%'>
                    <tr><td colspan="3" align="center">UM</td></tr>
                    <tr><td>C</td><td>A</td><td>V</td></tr>
                </table>
            </td>
            <td class='Item'>Disponibles</td>
            <td class='Item'>Reales</td>
            <td class='Item'>Reservadas</td>
            <td class='Item'>Entrando</td>
            <td class='Item'>Dpto</td>
        </tr>

        <tbody class='Cuerpo'>
            {% set almacenAnt = 0 %}
            {% for key,objeto in values.listado.data %}
                {% if (key is even) %}
                    {% set classFila = 'Impar' %}
                {% else %}
                    {% set classFila = 'Par' %}
                {% endif %}

                {% set disponibles = objeto.reales - objeto.reservadas %}
                {% if almacenAnt != objeto.IDAlmacen.IDAlmacen%}
                    <tr><td colspan="9"><div class="InterLinea">{{objeto.IDAlmacen}}</div></td></tr>
                {% endif%}
                {% set almacenAnt = objeto.IDAlmacen.IDAlmacen %}

            <tr class='{{classFila}}' style="font-size: 11px;">
                <td class='Item' title="{{objeto.IDArticulo}}">[{{objeto.IDArticulo.Codigo}}] {{objeto.IDArticulo|slice(0,23)}}</td>
                <td class='Item'>{{objeto.IDLote}}</td>
                <td class='Item'>{{objeto.IDUbicacion}}</td>
                <td>
                    <table width="100%" border="1"><tr>
                        <td width="33%" align="center">{{objeto.IDArticulo.UMC}}</td>
                        <td width="33%" align="center">{{objeto.IDArticulo.UMA}}</td>
                        <td width="33%" align="center">{{objeto.IDArticulo.UMV}}</td>
                    </tr></table>
                </td>
                <td>
                    <table width='100%' border="0"><tr>
                        <td class="existencias">{{objeto.IDArticulo.convertUnit('UMA','UMC',disponibles)|number_format(2)}}</td>
                        <td class="existencias">{{objeto.IDArticulo.convertUnit('UMA','UMA',disponibles)|number_format(2)}}</td>
                        <td class="existencias">{{objeto.IDArticulo.convertUnit('UMA','UMV',disponibles)|number_format(2)}}</td>
                    </tr></table>
                </td>
                <td>
                    <table width='100%' border="1"><tr>
                        <td class="existencias">{{objeto.IDArticulo.convertUnit('UMA','UMC',objeto.Reales)|number_format(2)}}</td>
                        <td class="existencias">{{objeto.IDArticulo.convertUnit('UMA','UMA',objeto.Reales)|number_format(2)}}</td>
                        <td class="existencias">{{objeto.IDArticulo.convertUnit('UMA','UMV',objeto.Reales)|number_format(2)}}</td>
                    </tr></table>
                </td>
                <td>
                    <table width='100%' border="0"><tr>
                        <td width="33%" align="right">{{objeto.IDArticulo.convertUnit('UMA','UMC',objeto.Reservadas)|number_format(2)}}</td>
                        <td width="33%" align="right">{{objeto.IDArticulo.convertUnit('UMA','UMA',objeto.Reservadas)|number_format(2)}}</td>
                        <td width="33%" align="right">{{objeto.IDArticulo.convertUnit('UMA','UMV',objeto.Reservadas)|number_format(2)}}</td>
                    </tr></table>
                </td>
                <td>
                    <table width='100%' border="1"><tr>
                        <td width="33%" align="right">{{objeto.IDArticulo.convertUnit('UMA','UMC',objeto.Entrando)|number_format(2)}}</td>
                        <td width="33%" align="right">{{objeto.IDArticulo.convertUnit('UMA','UMA',objeto.Entrando)|number_format(2)}}</td>
                        <td width="33%" align="right">{{objeto.IDArticulo.convertUnit('UMA','UMV',objeto.Entrando)|number_format(2)}}</td>
                    </tr></table>
                </td>
                <td align='center'>{{objeto.EnDeposito}}</td>
            </tr>
            {% else %}
            <tr><td colspan='7'>No hay informacion que cumpla esos criterios</td></tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}